::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  background: rgba($color: $scrollbar_color, $alpha: 1.0);
  border-radius: $btn_border_radius_rounded;
}
::-webkit-scrollbar-thumb:hover{
  background: rgba($color: $scrollbar_color_hover, $alpha: 1.0);;
}
::-webkit-scrollbar-thumb:active{
  background: rgba($color: $scrollbar_color_active, $alpha: 1.0);;
}
::-webkit-scrollbar-track{
  border-radius: $btn_border_radius_rounded;
  background: $grey;
}